body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.box {
  margin-top: 120px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 80%;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px;
  width: 85%;
  margin: 8px;
  background: #22c55e;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  background: #16a34a;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.7;
}